@import url('./fonts.scss');
@import url('./helpers.scss');
@import url('./transitions.scss');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: unset;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
